.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    margin: 10px 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
    cursor: pointer;
}

/* Header-imgTitle */

.header_silder {
    position: relative;
}

.backgroundAbout {
    width: 100%;
    filter: brightness(30%);
}

.title-name {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    font-size: 2.8rem;
    margin: 0;
    cursor: default;
}

/* Container */

.container_login {
    margin: 50px 130px;
}

    /* Container-left */
.container__left {
    font-size: 1.6rem;
}

.ct_title {
    font-size: 3rem;
    font-weight: 500;
    padding: 30px 0;
}

.ct_title::after {
    content: "";
    display: block;
    height: 3px;
    width: 14%;
    background-color: var(--primary-color);
    margin-top: 20px;
}

.ct__contect {
    font-weight: 500;
}

.ct__context-extra {
    padding:30px 0 15px;
    width: 80%;
}

.ct__intro {
    padding: 15px 0;
    width: 100%;
    display: flex;
}

.ct__intro>i {
    color: var(--primary-color);
}

.ct-detail {
    display: block;
    padding-left: 15px;
}


/*  form login */
.ct_form-login {
    margin-bottom: 20px;
}
.input-group-addon {
    background-color: var(--primary-color);
    color: var(--white--color);
    border: 2px solid var(--primary-color);
}

.form-control::placeholder {
    font-size: 1.2rem;
}

.form-group {
    width: 100%;

}

#login{
    background-color: #FAFEFF;
}


.form-inline .input-group .form-control, .form-inline .input-group{
    width: 90%;
}

#write_login {
    width: 82.666%;
    background-color: #FAFEFF;
}

.ct-form-submit {
    display: block;
    width: 82.6666%;
}
.btn-primary {
    display: block;
    margin: auto;
    width: 60%;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 4px 0 rgba(226, 13, 73, 0.8);
}

.btn-primary:hover, 
.btn-primary:focus {
    background-color: var(--primary-color);
}

/* map */
.map-contact {
    width: 100%;
    height: auto;
}


#footer {
    background-color: var(--text-black-color);
    width: 100%;
    margin-top: 60px;
}

.footer_top {
    margin-right: 130px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
}

.footer_inforSocial {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.img-footer {
    width: 100%;
    margin-bottom: 20px;
}

.img_word-footer {
    display: block;
    margin: auto;
}

.footer-cmtSocial {
    display: inline-block;
}

.img__social {
    height: 26.4px;
    padding-right: 14px;
}

.footer_infor {
    margin-top: 68px;
}

.icon-padding {
    padding-right: 8px;
}

.footer_infortable th,td {
    text-align: left;
    padding: 10px 80px;
    font-size: 1.375rem;
}
.footer_bottom {
    border-top: 2px solid var(--primary-color);
    margin:130px 130px 0 130px;
}

.footer_bottom-intro {
    margin: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}