:root {
    --white--color: #fff;
    --black--color: #000;
    --header--color:#e4114d;
    --container--color: #f6f6f6;
    /* rgba(231, 46, 100, 1) */
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Asap', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_fullWidth {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
}

.grid_col3 {
    padding-left: -5px;
    padding-right: -5px;
    width: 33.33%;
}
.grid_col {
    display: flex;
    justify-content: space-between;
}

.grid_col4{
    width: 25%;
    float: left;
    margin: 12px;
    
    width: 290px;
}
.seatMap {
    width: 550px;
    height: 360px;
    margin-left: 92px;
}
.map {
    width: 355.2px;
    height: 191.99px;
    border-radius: 4px;
    margin:12px 5px 0 5px;
    padding-bottom: 12px;
    padding-left: 5px;
}
.rickeysmiley {
    width: 200px;
    height: 191.99px;
    clip-path: circle(90px at 50% 50%);
    margin-top: 24px;
}


.btn {
    border: none;
    color: var(--header--color);
    background:none;
    outline: none;
}

.background-color {
    background-color: var(--container--color);
}

.fontsize24 {
    /* font-size: 2.4rem; */
}
.container_product_item-img {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 100%;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}