.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    position: fixed;
    top: 21px;
    right: 130px;
    left: 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
}


.background_header{
   height: 432px;
   padding-top: 25%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header_schedule{
    position: relative;
    margin: 40px 130px 0 130px;
    display: flex;
    align-items: center;
    position: relative;
  
}

#number_day {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--black--color);
    font-size: 5rem;
    font-weight: 600;
    cursor: pointer;
}

#day {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #727171;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}
#month {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    letter-spacing: 2px;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}

.img_calender {
    padding-top: 21%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(15, 28, 63, 0.275);
}


.header_schedule_info {
    line-height: 1.6;
}

.header_info1{
    font-size: 2.9rem;
    font-weight: 700;
}
.header_info_tt{
    font-size: 1.755rem;
    font-weight: 500;
}

.header_schedule_button>button {
    font-size: 1.94rem;
    background-color: var(--primary-color);
    color: var(--white--color);
    padding: 16px 80px;
}

.header_schedule_button>button:hover,
.header_schedule_button>button:focus,
.header_schedule_button>button:active {
    background-color: rgba(178, 12, 59);
    color: var(--white--color);
}

.header_schedule_button>button:focus {
    outline: var(--primary-color);
}

/* content */
#container {
    margin-top: 60px;
    background-color: var(--container--color);
}
.container_left {
    margin-top: 20px;
    padding: 0 0 0 130px;
}

.container_right {
    margin: 20px 0 0 0;
}

.container-text {
    background-color: var(--white--color);
}

.container_content {
    background-color: var(--white--color);
    padding: 30px 20px 0 20px;
    margin-bottom: 30px;
}

.container_contect-title {
    font-size: 3rem;
    font-weight: 700;
}

.container_contect-text {
    font-size: 1.375rem;
    width: 90%;
    padding: 20px 0 20px 0;
}

.padding-no-top {
    padding-top: 0;
}

.padding-12px-bottom {
    padding-bottom: 12px;
}

.margin-30px-bottom {
    margin-bottom: 20px;
}

.img_statge {
    width: 80%;
    display: block;
    margin: auto;
}

.container__tt {
    background-color: var(--white--color);
}


.tt-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 30px 20px 20px 20px;
}

.img_map {
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}



.img_name{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.tt_name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.tt_intro {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    width: 50%;
    margin: auto;
    padding: 0 0 20px 0;
}

.tt_intro-social>i {
    color: var(--primary-color);
    margin-right: 5px;
}

.tt-btn{
    padding: 0 0 30px 0;
}

.tt-btn--type {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-getTicks {
    border: 1px solid rgba(226, 13, 73, 0.6);
    box-shadow: 0 0 4px 0 rgba(226, 13, 73, 0.2);
}

.btn-getTicks:active,
.btn-getTicks:hover,
.btn-getTicks:focus{
    background-color: rgba(226, 13, 73, 0.8);
    outline: none;
    border: none;
    color: var(--white--color);
}
