.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    position: fixed;
    top: 21px;
    right: 130px;
    left: 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
}


.background_header{
   height: 432px;
   padding-top: 25%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header_schedule{
    position: relative;
    margin: 40px 130px 0 130px;
    display: flex;
    align-items: center;
    position: relative;
  
}

#number_day {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--black--color);
    font-size: 5rem;
    font-weight: 600;
    cursor: pointer;
}

#day {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #727171;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}
#month {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    letter-spacing: 2px;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}

.img_calender {
    padding-top: 21%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(15, 28, 63, 0.275);
}


.header_schedule_info {
    line-height: 1.6;
}

.header_info1{
    font-size: 2.9rem;
    font-weight: 700;
}
.header_info_tt{
    font-size: 1.755rem;
    font-weight: 500;
}

.header_schedule_button>button {
    font-size: 1.94rem;
    background-color: var(--primary-color);
    color: var(--white--color);
    padding: 16px 80px;
}

.header_schedule_button>button:hover,
.header_schedule_button>button:focus,
.header_schedule_button>button:active {
    background-color: rgba(178, 12, 59);
    color: var(--white--color);
}

.header_schedule_button>button:focus {
    outline: var(--primary-color);
}

/* content */
#container{
    margin-top: 60px;
}
.container_content {
    margin: 0 130px;
}
.container_content_item {
    color: var(--black--color);
    line-height: 1.4;
    background-color: var(--white--color);
    padding: 34px 120px 16px 10px;
    margin-bottom: 16px;
}
.container_content_col1 {
    width: 834px;
    margin-top: 20px;
}
.container_content_col1_description {
    
}
.description_title{
    font-size: 2.864rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.description_content{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 57px;
    margin-top: 38px;
}

.container_content_col1_seatmap {
    
}

.container_content_col2 {
    width: 400px;
    margin: 20px 0 0 20px;
}
.description_item1{
    margin: 10px 5px 68px 0;
    font-size: 1.632rem;
    text-align: center;
    color: var(--black--color);
}
.container_content_item2 {
    color: var(--black--color);
    line-height: 1.4;
    background-color: var(--white--color);
    padding: 34px 10px 24px 10px;
    margin-bottom: 16px;
}

.description_items {
    text-align: center;
    font-size: 1.224rem;
    padding: 0 64px;
    font-weight: 600;
    text-transform: uppercase;
}
.description_item {
    color: var(--black--color);
    text-align: left;
}
.description_item i{
    color: var(--header--color);
}
                        
.description_buttons{
    font-size: 1.5rem;
    font-weight: 500;
}
.description_button {
    border: 1px solid #aaaaaa;
    margin: 28px 24px;
    padding: 0 18px;
    box-shadow:5px 5px 12px #b7b6b7;
}

.description_buttons div:nth-last-child(1) {
    
    border: 1px solid var(--header--color);
    box-shadow:5px 5px 12px var(--header--color);
}
.description_button_name {
}
.description_button_price {
}
.description_button_tickets {
    padding: 16px 24px;
    font-size: 1.5rem;
}



/* product */

.container_product {
    margin: 0 130px;
}

.container_product_header {
    font-size: 2.448rem;
    font-weight: 600;
    vertical-align: middle;

}
.container_product_ctrol {
    font-size: 2.448rem;
    margin-top: 18px;
}
.container_product_ctrol i {
    padding: 8px 12px;
    background-color: var(--header--color);
    color: var(--white--color);
    font-size: 1.7rem;
    border-radius: 5px;
    margin-left: 4px;
}
.container_product_ctrol i:hover {
    background-color: rgb(226,13,73, 0.6);
    cursor: pointer;
}

.container_products {
}

.container_products_items {
    border-radius: 5px;
    box-shadow: 5px 5px 18px #888888;
}
.container_products_item{
    position: relative;
    text-decoration: none; 
}
.product_item--img {
    border-radius: 5px;
    box-shadow: 5px 10px 18px #888888;

}
.container_product_item-like {
    position: absolute;
    top: 300px;
    left: 23.79px;
    background-color: var(--white--color);
    font-size: 15px;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
}

.container_product_buy {
    color: var(--black--color);
    font-weight: 500;
    margin-top: 32px;
    line-height: 1.4;
    padding: 4px 20px;
}
.container_product_item-name {
    font-size: 1.5rem;
    
}
.container_product_item-map {
    font-size: 1.1rem;
}
.container_product_item-time {
    font-size: 1.1rem;
    text-align: center;
    color: var(--header--color);
    margin-top: 8px;
    background-color: var(--container--color);
    padding: 8px 12px;
    margin: 8px 32px 8px 16px;
    
}
.container_product_item-buy {
    font-size: 1.1rem;
    padding: 10px 32px 0 10px;
    color: var(--header--color);

}
.container_product_item-buy-getticket {
     border: 1px solid var(--header--color);
     border-radius: 5px;
     padding: 5px 12px;
}
.container_product_item-buy-price {
    color: var(--black--color);
    vertical-align: middle;
    padding-top: 5px;
}