#app {
    position: relative;
}
/* Header */
#header{
    position: relative;
}
.header__nav {
    position: absolute;
    top: 21px;
    right: 130px;
    left: 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list:hover a {
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--primary-color);
    background-color: var(--white-color);
}

.header__nav-list:last-child:hover a {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.header__nav-list a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__navtitle {
    color: var(--white-color);
    position: absolute;
    top: 40%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%); 
}

#header__navtitle-textheading {
    font-size: 4.5rem;
}

#header__navtitle-textdescription {
    font-size: 1.6875rem;
}

#header__nav-search {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%); 
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--nav-heading-color);
    border-radius: 3px
}

#header__nav-search--inputweek,#header__nav-search--inputname {
    display: flex;
    align-items: center;
}

.header__nav-search-button {
    padding: 24px 68px;
    color: var(--white-color);
    border: none;
    background-color: var(--primary-color);
    border-top-right-radius: 3px;
    border-bottom-right-radius : 3px;
}

.header__nav-search-button:hover {
    cursor: pointer;
}

.container__comingevent{
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
    margin: 2% 0;
}

/* Container__product */
#container {

}

.container__product {
    margin: 0 130px;
}

.container__product-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0 , 0 , 0, 0.15);
}

.container__product-item:hover {
    animation: growth ease 1s;
    animation-fill-mode: forwards;
}

.product__img {

}

.container__product-item--img {
    position: relative;
    top: 0;
    left: 0;
    padding-top: 100%;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container__product-item--favourite {
    position: absolute;
    top: 235px;
    left: 22px;
    padding: 12px;
    color: var(--heart-color);
    font-size: 1.5625rem;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0 , 0 , 0, 0.2);
}

.product__buy {
    margin: 40px 16px 22px 16px;
}

.container__product-item--name {
    margin: 25px 0 0 0;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--name-product-color);
}
.color-map {
    color: #5f5f60;
}

.container__product-item--map {
    margin: 10px 0 18px 0;
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--name-product-color);
}



.container__product-item--calendar {
    background-color: #F9F9FA;
    color: #E72E64;
    font-size: 1.375rem;
    font-weight: 500;
    padding: 14px;
}

.container__product-item--buy {
    margin: 22px 0 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 600;
}

.container__product-item--buy_price {
    color: var(--name-product-color);
}

/* Band */
.container__band {
    position: relative;
    margin-top: 50px;
    margin-bottom: 90px;
}

#container__band__itwork {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 550;
    color: var(--text-black-color );
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white-color);
}

.container__band__button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    margin: 0 32px;
}

.container__band__button__items {
    line-height: 4;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container__band__button__item {
    width: 120px;
    height: 120px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 3.6rem;
    border: none;
    cursor: pointer;
}

.container__band__button__item:hover {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.2);
}

.container__band__button__items_title {
    color: var(--white-color);
    font-size: 1.632rem;
    font-weight: 500;
}

/* Featured Events and Recommended */

.top-title-product {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.top_title-left {
    line-height: 35px;
}

/* container__contactUs */

.container__contactUs {
    position: relative;
    margin: 60px 130px 55px 130px;
    padding-top: 21.93675%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ContactUs_Text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92px;
    width: 32%;
}

.ContactUs_title {
    line-height: 30px;
    font-weight: 500;
    margin:0 0 17px 0;
}

.btn-ContactUs {
    position: absolute;
    top: 50%;
    right: 123px;
    transform: translateY(-50%);
    color: var(--text-black-color);
    padding: 25px 60px;
    font-weight: 500;
    border-radius: 5px;
}

.btn-ContactUs:hover {
    background-color: #e6e6e6;
    border:1px solid #adadad;
    cursor: pointer;

}



/* footer */

#footer {
    background-color: var(--text-black-color);
    height: 440px;
    width: 100%;
}

.footer_top {
    margin-right: 130px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
}

.footer_inforSocial {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19%;
}

.footer-cmtSocial {
    display: inline-block;
}

.img__social {
    height: 26.4px;
    padding-right: 14px;
}

.footer_infor {
    margin-top: 68px;
}

.icon-padding {
    padding-right: 8px;
}

.footer_infortable th,td {
    text-align: left;
    padding: 10px 90px;
    font-size: 1.375rem;
}
.footer_bottom {
    border-top: 2px solid var(--primary-color);
    margin: 130px;
}

.footer_bottom-intro {
    display: inline-block;
    width: 100%;
    text-align: center;
}