:root {
    --primary-color: #E20D49;
    --white-color: #fff;
    --nav-heading-color: #b7b6b7;
    --text-black-color: #000;
    --heart-color: #9a9897;
    --name-product-color: #1f1f1f;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem; 
    font-family: 'Asap', sans-serif; 
    box-sizing: border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

/* Color */
.bg-color-primary{
    background-color: var(--primary-color);
}
.bg-color-extra{
    background-color: #F05B86;
}

.color-fas {
    color: var(--heart-color);
}

.color-nameandtitle {
    color: var(--name-product-color);
}

/* Grid */

.grid {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.grid_col3{
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}

.grid_col12 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
/* margin */

.margin_36px {
    margin-bottom: 36px;
}


/* Code gerenal */

.word {
    height: 65px;
    width: 85px;
}

.backgroup {
    width: 100%;
    filter: brightness(30%);
}

.icon-navseacrh{
    padding: 24px;
}

.input-navsearch {
    border: none;
}

.input-navsearch::placeholder {
    color: var(--nav-heading-color);
}

.input-navsearch:focus {
    outline: none;
}

.border-inputseacrh {
    padding-right: 24px;
    border-right: 1px solid var(--nav-heading-color);
}

/* seting icon */
.icon-pading-right {
    padding-right: 10px;
}

/* button */
.button__buyticket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 36px;
    color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 1px 4px 3px rgba(0 , 0 , 0, 0.2);
    border: 2px solid var(--primary-color);
}

.btn-transfer {
    border: none;
    color: var(--white-color);
    border-radius: 4px;
    padding: 6px 10px;
}

/* container__contactUs */

.container__contactUs {
    background-image: url("/ADMIN/assets/img/ba");
}