.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    position: absolute;
    top: 21px;
    right: 130px;
    left: 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
}


.background_header{
   height: 432px;
   padding-top: 25%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header_schedule{
    position: relative;
    margin: 40px 130px 0 130px;
    display: flex;
    align-items: center;
    position: relative;
  
}

#number_day {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--black--color);
    font-size: 5rem;
    font-weight: 600;
    cursor: pointer;
}

#day {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    color: #727171;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}
#month {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    letter-spacing: 2px;
    font-size: 2.4rem;
    font-weight: 600;
    cursor: pointer;
}

.img_calender {
    padding-top: 21%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(15, 28, 63, 0.275);
}


.header_schedule_info {
    line-height: 1.6;
}

.header_info1{
    font-size: 2.9rem;
    font-weight: 700;
}
.header_info_tt{
    font-size: 1.755rem;
    font-weight: 500;
}

.header_schedule_button>button {
    font-size: 1.94rem;
    background-color: var(--primary-color);
    color: var(--white--color);
    padding: 16px 80px;
}

.header_schedule_button>button:hover,
.header_schedule_button>button:focus,
.header_schedule_button>button:active {
    background-color: rgba(178, 12, 59);
    color: var(--white--color);
}

.header_schedule_button>button:focus {
    outline: var(--primary-color);
}

/* content */
#container {    
    margin-top: 60px;
}

.container_top{
    background-color: var(--container--color);
}

.container_left {
    margin-top: 20px;
    padding: 0 0 0 130px;
}

.container_right {
    margin: 20px 0 0 0;
}

.container-text {
    background-color: var(--white--color);
}

.container_content {
    background-color: var(--white--color);
    padding: 30px 20px 0 20px;
    margin-bottom: 30px;
}

.container_contect-title {
    font-size: 3rem;
    font-weight: 700;
}

.container_contect-text {
    font-size: 1.375rem;
    width: 90%;
    padding: 20px 0 20px 0;
}

.padding-no-top {
    padding-top: 0;
}

.padding-12px-bottom {
    padding-bottom: 12px;
}

.margin-30px-bottom {
    margin-bottom: 20px;
}

.img_statge {
    width: 80%;
    display: block;
    margin: auto;
}

.container__tt {
    background-color: var(--white--color);
}


.tt-title {
    font-size: 2rem;
    font-weight: 600;
    padding: 30px 20px 20px 20px;
}

.img_map {
    display: block;
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}



.img_name{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.tt_name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
}

.tt_intro {
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    width: 50%;
    margin: auto;
    padding: 0 0 20px 0;
}

.tt_intro-social>i {
    color: var(--primary-color);
    margin-right: 5px;
}

.tt-btn{
    padding: 0 0 30px 0;
}

.tt-btn--type {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-getTicks {
    border: 1px solid rgba(226, 13, 73, 0.6);
    box-shadow: 0 0 4px 0 rgba(226, 13, 73, 0.2);
}

.btn-getTicks:active,
.btn-getTicks:hover,
.btn-getTicks:focus{
    background-color: rgba(226, 13, 73, 0.8);
    outline: none;
    border: none;
    color: var(--white--color);
}

/* Product */
.container__product {
    margin: 30px 130px 0 130px;
}

.btn-transfer {
    border-radius: 4px;
    padding: 6px 10px;
    background-color: rgba(226, 13, 73, 0.8);
}

.btn-transfer:hover,
.btn-transfer:focus,
.btn-transfer:active {
    border-radius: 4px;
    padding: 6px 10px;
    background-color: rgb(255, 0, 72);
    outline: 1px solid rgba(226, 13, 73, 0.2);
}

.container__product-item {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0 , 0 , 0, 0.15);
}

.container__product-item:focus {
    text-decoration: none;
}

.container__product-item:hover {
    animation: growth ease 1s;
    animation-fill-mode: forwards;
    text-decoration: none;
}

.container__product-item--img {
    padding-top: 100%;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container__product-item--favourite {
    position: absolute;
    top: 50%;
    left: 10%;
    padding: 12px;
    color: var(--heart-color);
    font-size: 1.5625rem;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0 , 0 , 0, 0.2);
}

.product__buy {
    margin: 40px 16px 22px 16px;
    padding-bottom: 5px;
}

.container__product-item--name {
    margin: 25px 0 0 0;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--name-product-color);
}
.color-map {
    color: #5f5f60;
}

.container__product-item--map {
    margin: 10px 0 18px 0;
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--name-product-color);
}



.container__product-item--calendar {
    background-color: #eeeeee;
    border-radius: 3px;
    color: #E72E64;
    font-size: 1.375rem;
    font-weight: 500;
    padding: 14px;
}

.container__product-item--buy {
    margin: 22px 0 22px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 600;
}

.container__product-item--buy_price {
    color: var(--name-product-color);
}

.icon-pading-right {
    padding-right: 10px;
}


.button__buyticket {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 1px 4px 3px rgba(231,46,100, 0.2);
    border: 1px solid var(--primary-color);
    position: relative;
}

.button__buyticket:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 4px 3px rgba(231,46,100, 0.2);
}

.button__buyticket:focus {
    outline: none;
}


/* Featured Events and Recommended */

.top-title-product {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.top_title-left {
    line-height: 35px;
    font-size: 2.2rem;
    font-weight: 600;
}



/* container__contactUs */

.container__contactUs {
    position: relative;
    padding-top: 21.83675%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.ContactUs_Text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 92px;
    width: 32%;
}

.ContactUs_title {
    line-height: 30px;
    font-weight: 500;
    margin:0 0 17px 0;
}

.btn-ContactUs {
    position: absolute;
    top: 50%;
    right: 123px;
    transform: translateY(-50%);
    color: var(--text-black-color);
    padding: 25px 60px;
    font-weight: 500;
    border-radius: 5px;
}

.btn-ContactUs:hover {
    background-color: #e6e6e6;
    border:1px solid #adadad;
    cursor: pointer;

}




/* footer */

#footer {
    background-color: var(--text-black-color);
    width: 100%;
    margin-top: 60px;
}

.footer_top {
    margin-right: 130px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
}

.footer_inforSocial {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.img-footer {
    width: 100%;
    margin-bottom: 20px;
}

.img_word-footer {
    display: block;
    margin: auto;
}

.footer-cmtSocial {
    display: inline-block;
}

.img__social {
    height: 26.4px;
    padding-right: 14px;
}

.footer_infor {
    margin-top: 68px;
}

.icon-padding {
    padding-right: 8px;
}

.footer_infortable th,td {
    text-align: left;
    padding: 10px 80px;
    font-size: 1.375rem;
}
.footer_bottom {
    border-top: 2px solid var(--primary-color);
    margin:130px 130px 0 130px;
}

.footer_bottom-intro {
    margin: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}