.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    margin: 10px 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
    cursor: pointer;
}

/* Header-imgTitle */

.header_silder {
    position: relative;
}

.backgroundAbout {
    width: 100%;
    filter: brightness(35%);
}

.title-name {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    font-size: 2.8rem;
    margin: 0;
    cursor: default;
}

/* Container */

#container {
    margin: 20px 130px;
}

.ct-outServices {
    width:100%;
}

.ct-title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin: 30px 0 50px;
    color: var(--name-product-color);
}

/* Item Our Services */



.oursevices-item>a {
    text-decoration: none;
}

.oursevices-item {
    margin: 20px 0;
}

.os-item-contect {
    box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.1);
    padding:12%  8%;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 12px;
}


.os-item-contect>p {
    text-align: center;
}

.item-illustration {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10% auto 8%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.oursevices-item:hover .os-item-contect {
    animation: growth linear 0.3s;
    animation-fill-mode: forwards;
    box-shadow: 0 4px 6px 0 rgba(226, 13, 73, 0.4);
}

.os-item-contect:hover .item-illustration{
    background-color: rgba(226, 13, 73,0.1);
}

.os-item-contect:hover .item-illustration>i,
.item-illustration:hover>i,
.item-illustration:hover,
.os-item-contect:hover {
    color: var(--primary-color);
}

.item-illustration>i {
    position: absolute;
    top: 40%;
    transform: translateY(-45%);
    left: 49%;
    transform: translateX(-49%);
    font-size: 3.5rem;
    color: var(--name-product-color);
    display: inline-block;
}


.item-texttitle {
    font-size: 1.8rem;
    color: var(--name-product-color);
    font-weight: 600;
}

.item-textextra {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--name-product-color);
    margin: 8% auto 0;
}

.item-btnos {
    width: 100%;
}

.os-btn {
    display: block;
    margin: 8% auto;
    width: 50%;
    padding: 12px;
    border:1px solid #55BBF4;
    background-color: var(--white--color);
    color: #3D98CA;
}

.os-btn:hover,
.os-btn:focus,
.os-btn:active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 8px 0 rgba(226, 13, 73, 0.8);
}


/* Artist Booking */
.ct-performance {
    margin: 80px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.ct-art-content {
    width: 50%;
    display: block;
    margin:12% auto;
}

.ct_ourhistory {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    display: flex;
    align-items: center;
}           

.ct_ourhistory::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    float: left;
    margin-right: 6px;
}
.ct_ourhistory::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    float: right;
    margin-left: 6px;
}

.ct-title--art {
    margin: 20px 0;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: left;
}

.ct-content--art {
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
}

.ct-art-btn {
    margin-top: 8%;
}

.btn-getTicks {
    display: block;
    margin: auto;
    width: 100%;
    color: var(--primary-color);
    border: 1px solid rgba(226, 13, 73, 0.6);
    box-shadow: 0 0 4px 0 rgba(226, 13, 73, 0.2);
}

.btn-getTicks:active,
.btn-getTicks:hover,
.btn-getTicks:focus{
    background-color: rgba(226, 13, 73, 0.8);
    outline: none;
    color: var(--white--color);
}

.container-aritist-img {
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 0;
}

.img-art {
    width: 100%;
}

/* Footer */

#footer {
    background-color: var(--text-black-color);
    width: 100%;
    margin-top: 60px;
}

.footer_top {
    margin-right: 130px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
}

.footer_inforSocial {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.img-footer {
    width: 100%;
    margin-bottom: 20px;
}

.img_word-footer {
    display: block;
    margin: auto;
}

.footer-cmtSocial {
    display: inline-block;
}

.img__social {
    height: 26.4px;
    padding-right: 14px;
}

.footer_infor {
    margin-top: 68px;
}

.icon-padding {
    padding-right: 8px;
}

.footer_infortable th,td {
    text-align: left;
    padding: 10px 80px;
    font-size: 1.375rem;
}
.footer_bottom {
    border-top: 2px solid var(--primary-color);
    margin:130px 130px 0 130px;
}

.footer_bottom-intro {
    margin: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

/*  */

.nav-bar-btn{
   
    color: #262665;
    font-size: 25px;
    
 }
 .nav-overlay {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(0 , 0 , 0, 0.3);
     display: none;
     animation: fadeIn linear 0.2s;
 }
 .header__navbar-repo{
     z-index: 1;
     position: fixed;
     top: 0px;
     right: 0;
     bottom: 0;
     width: 320px;
     max-width: 100%;
     background-color: var(--white-color);
     transform: translateX(100%);
     transition: transform linear 0.2s;
 }
 .header__nav-repo-list {
     text-decoration: none;
     list-style: none;
     display: block;
     padding: 8px 0;
     font-size: 1.4rem;
     font-weight: 500;
 }
 .header__nav-repo-list a {
     color: #333;
     text-decoration: none;
 }
 .header__nav-repo-list:hover a {
     padding-bottom: 3px;
     color: var(--primary-color);
     border-bottom: 2px solid var(--primary-color);
 }
 .nav-close {
     position: absolute;
     top: 0;
     font-size: 2.5rem;
     right: 2%;
 }
 #menu-moblie {
     display: none;
 }
 #nav-mobile-ip {
     display: none;
 }
 @keyframes fadeIn{
     from {
      opacity: 0;
     }
     to {
      opacity: 1;
     }
  }

@media (max-width:46.1875em) {

    #menu-moblie {
        display: block;
    }
    .nav-open:checked ~ .nav-overlay {
        display: block;
    }

    .nav-open:checked ~ .header__navbar-repo {
        transform: translateX(0%);
    }
    .word {
        height:35px;
        width: 55px;
        display: block;
    }
    .header__navbar {
        display: none;
       
    }
    .header__nav {
        margin: 10px 50px;
    }
    .nav-open {
        display: none;
    }


    .ct-art-content {
        margin:12px 24px 12px 0;
        width: 105%;
    }
    .ct_ourhistory {
        
    }




    #footer {
       
    }
    
    .footer_top {
        margin-right: 0px;
        margin-left: 0px;
        
    }
    
    .footer_inforSocial {
        padding-top: 74px;
        padding-left: 12px;
        line-height: 1.4;
    }
    
    
    .footer-cmtSocial {
        font-size: 1.1rem;
        margin-top: 14px;
    }
    
    .img__social {
        height: 18px;
        padding-right: 8px;

    }
    
    
    .footer_infortable th, td {
        text-align: left;
        padding: 5px 32px;
        font-size: 1.1rem;
    }
  
}
@media(min-width: 46.25em) and (max-width: 63.9375em){
    #header {

    }
    .word {
        height:35px;
        width: 55px;
        display: block;
    }
    .header__nav {
        margin: 10px 90px;
    }
    .header__nav-list {
        padding: 12px 0 0 24px;
    }
    .header__nav-list a {
        font-size: 1.2rem;
        font-weight: 600;
    }
    .ct-art-content {
        margin:24px 50px 24px 20px;
        width: 80%;
    }
    .ct_ourhistory {
        
    }
    .ct-performance {
        width: 100%;
    }
    .ct-performance{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    .container-aritist-img.col-md-6 {
        width: 150%;
    }


    #footer {
       height: 500px;
    }
    
    .footer_top {
        margin-right: 0px;
        margin-left: 0px;
        
    }
    
    .footer_inforSocial {
        padding-top: 74px;
        padding-left: 12px;
        line-height: 1.4;
    }
    
    
    .footer-cmtSocial {
        font-size: 1.3rem;
        margin-top: 14px;
    }
    
    .img__social {
        height: 24px;
        padding-right: 8px;

    }
    
    
    .footer_infortable th, td {
        text-align: left;
        padding: 5px 44px;
        font-size: 1.3rem;
    }
}
