.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    margin: 10px 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
    cursor: pointer;
}

/* Header-imgTitle */

.header_silder {
    position: relative;
}

.backgroundAbout {
    width: 100%;
    filter: brightness(15%);
}

.title-name {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    font-size: 2.8rem;
    margin: 0;
    cursor: default;
}

/* Container */
#container {
    margin: 135px 130px 0 130px;
}

.img_festival {
    display: block;
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.ct_ourhistory {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    display: flex;
    align-items: center;
}           

.ct_ourhistory::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    float: left;
    margin-right: 6px;
}
.ct_ourhistory::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    float: right;
    margin-left: 6px;
}

.ct-title {
    margin: 40px 0;
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.ct-content {
    font-size: 1.25rem;
    font-weight: 500;
}

.ct-tickred {
    margin-top: 30px;
}

.ct-tick {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 0;
}

.ct-tick>i {
    color: var(--primary-color); 
    padding-right: 5px;
}

.container-contect {
   margin: 40px 0;
}

.ct_expert {
    font-size: 2.6rem;
    font-weight: 600;
    width: 80%;
}

.ct-content-text {
    width: 80%;
    font-size: 1.125rem;
    font-weight: 500;
    padding-top: 20px;
}
/*  */
.ct-listld {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.ct-profile {
    position: relative;
    margin: 2% auto;
    height: 100%;

}

.ct-profile:hover>.ct-prlist::before {
    display: block;
    -webkit-user-select: none;
    user-select: none;
    width: 92.7777%;
    height: 100%;
}

.ct-prlist::before {
    position: absolute;
    top: 0;
    left: 3.55555%;
    content: "";
    background-color: rgba(188, 71, 104, 0.4);
    width: 92.666%;
    height: 0;
    border-radius: 10px;
    transition: height 0.6s;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(196, 74, 108, 0.3);
}

.ct-prlist {
    display: block;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.ct-prlist:focus,
.ct-prlist:hover {
    text-decoration: none;
}

.listpr_img {
    width: 35%;
    display: block;
    margin: 0 auto;
    padding-top: 15%;
}

.lt-intro-left {
    color: var(--black--color);
    text-align: left;
    padding: 10px 0 10px 20% ;
}

.lt-intro {
    color: var(--black--color);
    text-align: center;
    padding: 10px;
}


.width-note-left {
    width: 90%;
    display: block;
    margin: 0;
}

.width-note {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.icon-prolist {
    color: #7595AE;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid #7595AE;
}

.icon-prolist:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.list_pro-social {
    position: absolute;
    top: 35%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    padding: 8% 4%;
    border-radius: 20px;
    background-color: var(--white--color);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
/* footer */
#footer {
    background-color: var(--text-black-color);
    width: 100%;
    margin-top: 60px;
}

.footer_top {
    margin-right: 130px;
    margin-left: 130px;
    display: flex;
    justify-content: space-between;
}

.footer_inforSocial {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.img-footer {
    width: 100%;
    margin-bottom: 20px;
}

.img_word-footer {
    display: block;
    margin: auto;
}

.footer-cmtSocial {
    display: inline-block;
}

.img__social {
    height: 26.4px;
    padding-right: 14px;
}

.footer_infor {
    margin-top: 68px;
}

.icon-padding {
    padding-right: 8px;
}

.footer_infortable th,td {
    text-align: left;
    padding: 10px 80px;
    font-size: 1.375rem;
}
.footer_bottom {
    border-top: 2px solid var(--primary-color);
    margin:130px 130px 0 130px;
}

.footer_bottom-intro {
    margin: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}


.nav-bar-btn{
   
   color: #262665;
   font-size: 25px;
   
}
.nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0 , 0 , 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}
.header__navbar-repo{
    z-index: 1;
    position: fixed;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: var(--white-color);
    transform: translateX(100%);
    transition: transform linear 0.2s;
}
.header__nav-repo-list {
    text-decoration: none;
    list-style: none;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 500;
}
.header__nav-repo-list a {
    color: #333;
}
.header__nav-repo-list:hover a {
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}
.nav-close {
    position: absolute;
    top: 0;
    font-size: 2.5rem;
    right: 2%;
}
#nav-mobile-ip {
    display: none;
}

/* mobile */

@media (max-width:46.1875em) {
    .nav-open:checked ~ .nav-overlay {
        display: block;
    }

    .nav-open:checked ~ .header__navbar-repo {
        transform: translateX(0%);
    }
    .word {
        height:35px;
        width: 55px;
        display: block;
    }
    .header__navbar {
        display: none;
       
    }
    .header__nav {
        margin: 10px 50px;
    }
    .nav-open {
        display: none;
    }
    #footer {
       
    }
    
    .footer_top {
        margin-right: 0px;
        margin-left: 0px;
        
    }
    
    .footer_inforSocial {
        padding-top: 74px;
        padding-left: 12px;
        line-height: 1.4;
    }
    
    
    .footer-cmtSocial {
        font-size: 1.1rem;
        margin-top: 14px;
    }
    
    .img__social {
        height: 18px;
        padding-right: 8px;

    }
    
    
    .footer_infortable th, td {
        text-align: left;
        padding: 5px 32px;
        font-size: 1.1rem;
    }
  
}

/* tablet */
@media(min-width: 46.25em) and (max-width: 63.9375em){
    #header {

    }
    .word {
        height:35px;
        width: 55px;
        display: block;
    }
    .header__nav {
        margin: 10px 100px;
    }
    .header__nav-list {
        padding: 12px 0 0 24px;
    }
    .header__nav-list a {
        font-size: 1.2rem;
        font-weight: 600;
    }
    #footer {
       
    }
    
    .footer_top {
        margin-right: 0px;
        margin-left: 0px;
        
    }
    
    .footer_inforSocial {
        padding-top: 74px;
        padding-left: 12px;
        line-height: 1.4;
    }
    
    
    .footer-cmtSocial {
        font-size: 1.3rem;
        margin-top: 14px;
    }
    
    .img__social {
        height: 24px;
        padding-right: 8px;

    }
    
    
    .footer_infortable th, td {
        text-align: left;
        padding: 5px 50px;
        font-size: 1.3rem;
    }
  
}