:root {
    --white--color: #fff;
    --black--color: #000;
    --header--color:#e4114d;
    --container--color: #f6f6f6;
    --primary-color: rgb(226, 13, 73);
    --white-color: #fff;
    --nav-heading-color: #b7b6b7;
    --text-black-color: #000;
    --heart-color: #9a9897;
    --name-product-color: #1f1f1f;
    --growth-from: 1;
    --growth-to: 1.05;
}

* {
    box-sizing: inherit;
}
/* Ẩn 1 element */
.hidden-ds {
    display: none;
}

/* Font */
html {
    font-size: 62.5%;
    line-height: 1.6rem; 
    font-family: 'Asap', sans-serif; 
    box-sizing: border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body {
    font-family: 'Asap', sans-serif; 
    box-sizing: border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
/* Color */
.bg-color-primary{
    background-color: var(--primary-color);
}
.bg-color-extra{
    background-color: #F05B86;
}

.bg-color-color {
    background-color: var(--white-color);
}

.color-fas {
    color: var(--heart-color);
}

.color-nameandtitle {
    color: var(--name-product-color);
}

.color-white{
    color: var(--white-color);
}


/* Font-size */
.font-sizebig72 {
    font-size: 4.5rem;
}

.font-sizebig55 {
    font-size: 3.4375rem;
}

.font-sizebig40 {
    font-size: 2.5rem;
}

.font-size18px {
    font-size: 1.125rem;
}

.font-size20px {
    font-size: 1.25rem;
}

.font-size22px {
    font-size: 1.375rem;
}

.font-size24px {
    font-size: 1.5rem;
}


.font-size28px {
    font-size: 1.75rem;
}

.font-size28px {
    font-size: 1.75rem;
}