.main {
    position: relative;
}

/* header */
#header{
    position: relative;
}
.header__nav {
    margin: 10px 130px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header__navbar {
    float: right;
    list-style-type: none;
    display: inline-block;
   
}

.header__nav-list {
    display: inline-block;
}

.header__nav-list {
    padding: 24px 0 0 48px;
}

.header__nav-list-item {
    text-decoration: none;
    color: var(--black--color);
    font-size: 1.4rem;
    font-weight: 600;
}

.header__nav-list-item:focus,
.header__nav-list-item:hover {
    text-decoration: none;
    padding-bottom: 3px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.header__nav-list:last-child>a {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    color: var(--white--color);
    background-color: var(--primary-color);
}

.header__nav-list:last-child .header__nav-list-item:hover,
.header__nav-list:last-child .header__nav-list-item:focus {
    padding: 9px 24px 9px 24px;
    border-radius: 4px;
    border: none;
    color: var(--white--color);
    background-color: rgba(226, 13, 73, 0.8);
}

.word {
    height: 65px;
    width: 85px;
    display: block;
    cursor: pointer;
}

/* Header-imgTitle */

.header_silder {
    position: relative;
}

.backgroundAbout {
    width: 100%;
    filter: brightness(15%);
}

.title-name {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: var(--white--color);
    font-size: 2.8rem;
    margin: 0;
    cursor: default;
}

/* Container */
#container {
    margin: 135px 130px 0 130px;
}

.img_festival {
    display: block;
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.ct_ourhistory {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    display: flex;
    align-items: center;
}           

.ct_ourhistory::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    float: left;
    margin-right: 6px;
}
.ct_ourhistory::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--primary-color);
    float: right;
    margin-left: 6px;
}

.ct-title {
    margin: 40px 0;
    font-size: 4.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.ct-content {
    font-size: 1.25rem;
    font-weight: 500;
}

.ct-tickred {
    margin-top: 30px;
}

.ct-tick {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 0;
}

.ct-tick>i {
    color: var(--primary-color); 
    padding-right: 5px;
}

.container-contect {
   margin: 40px 0;
}

.ct_expert {
    font-size: 2.6rem;
    font-weight: 600;
    width: 80%;
}

.ct-content-text {
    width: 80%;
    font-size: 1.125rem;
    font-weight: 500;
    padding-top: 20px;
}